<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/default/bulmaswatch.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>


<!--Picture of the maze occupying all the page-->
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <figure class="image">
              <img class="is-full" src="{{ url_for('static', filename='maze.jpeg') }}" alt="Maze">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>








</body>